.text-link:hover{
    cursor: pointer;
    color: rgb(87, 87, 87);
    font-weight: 500;
    border-bottom: 2px dashed grey;
}

.justify-center {
    display: flex;
}

.logo img {
    content: url(../assets/logo.png);
}