.mat-drawer-container {
  height: calc(auto - 65px);
  z-index: 0 !important;
  min-height: 500px;
}

.mat-drawer {
  margin: 16px;
  width: 210px;
  border-right: none;
  /* background: #002b5c; */
  /* color: rgb(4, 4, 4); */
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  overflow-x: hidden;
}

.mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: lightgrey;
}

.map-box {
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
  background: #f5f5f5;
  height: calc(auto - 65px);
  overflow-y: auto;
  min-height: 500px;
}


.search-box {
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
  background: #f5f5f5;
  height: calc(auto - 65px);
  overflow-y: auto;
  min-height: 200px;
}

.mat-nav-list button.active {
  background: #006064;
}

.mat-nav-list button {
  color: white;
  width: 100%;
}

.content {
  height: calc(auto - 98px);
  margin: 10px;
  margin-left: 32px;
  padding: 10px;
  padding-left: 10px;
  border-radius: 10px;
  min-height: 500px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileShow {
    display: inline;
  }

  .content {
    margin: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    padding-left: 10px !important;
  }
}
