.mat-drawer-container {
  height: calc(auto - 65px);
  z-index: 0 !important;
  min-height: 500px;
}

.mat-drawer {
  margin: 16px;
  width: calc(auto - 65px);
  border-right: none;
  /* background: #002b5c; */
  /* color: rgb(4, 4, 4); */
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  overflow-x: hidden;
}

.mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: lightgrey;
}

.search-box {
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
  background: #f5f5f5;
  height: calc(auto - 65px);
  overflow-y: auto;
  min-height: 200px;
}

.mat-nav-list button.active {
  background: #006064;
}

.mat-nav-list button {
  color: white;
  width: 100%;
}

.content {
  height: calc(auto - 98px);
  margin: 10px;
  margin-left: 32px;
  padding: 10px;
  padding-left: 10px;
  border-radius: 10px;
  min-height: 500px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}

.switch-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 0vh;
} 

.switch-container {
  width: 5rem;
  height: 2.5rem;
  border-radius: 5rem;
  box-shadow: 1px 1px 1px 1px #cfd8dc;
  position: relative;
}

.switch-container input {
  display: none;
}

.switch-color {
  width: 5.49em;
  height: 2.7em;
  left: .1em;
  top: .1em;
  background: #cfd8dc;
  border-radius: 10em;
  z-index: -1;
  position: absolute;
  transition: all 500ms cubic-bezier(0.34, 1.36, 0.2, 1);
}

label {
  border-radius: 2em;
  background-image: url('../../../assets/form/man.png');
  background-size: 39px 39px;
  width: 39px; 
  height: 39px;
  position: absolute;
  top: .0em;
  left: .087em;
  z-index: 2;
  cursor: pointer;
}

#switch:checked ~ label {
  transform: translatex(2.9em) rotatez(360deg);
}

#switch:checked ~ .switch-color {
  background: #49e600;
}

#switch ~ label {
  transition: all 1s cubic-bezier(0.34, 1.36, 0.2, 1);
}


label::after {
  content:"";
  display: inline-block;

}
#switch:checked ~ label::after {
  margin-top: 0.08em;
  background-image: url('../../../assets/form/kindpng_726372.png');
  background-size: 39px 39px;
  width: 39px; 
  height: 39px;
  
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileShow {
    display: inline;
  }

  .content {
    margin: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    padding-left: 10px !important;
  }
}
