<mat-toolbar class="flex justify-between nav">
  <div>
    <span>
      <a href="/frontend" class="brand-img">
        <img alt="Carpool">
        <span class="brand">Carpool</span>
      </a>
    </span>
  </div>

  <div class="flex">
    <button *ngIf="!this.signinService.authenticate().isLoggedIn" class="nav-btn" mat-button (click)="openDialog()">Sign In</button>
    <div *ngIf="this.signinService.authenticate().isLoggedIn">{{this.signinService.authenticate().email}}</div>
    <button class="nav-btn" mat-button routerLink="/about">About</button>
    <button *ngIf="this.signinService.authenticate().isLoggedIn" class="nav-btn" mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<app-spinner></app-spinner>
<mat-sidenav-container>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>