<p>Hi this is ceo of carpool!!! Hello {{data.main[0].sourceCoord}} </p>
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Available Co-Passenger </ng-template>
            <div *ngFor="let companion of data.main" >
                <i class='large material-icons' (click)="addRoute(companion.sourceCoord, companion.destinationCoord)">person</i>
            </div>
            <div>
                <button mat-button matStepperNext (click)="removeRoute()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="You have been paired">
        <form [formGroup]="secondFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Yeah You Got paired</mat-label>
                <!-- <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                        required> -->
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Cancel Ride</ng-template>
        <p>Really wanna cancel ride?</p>
        <div>
            <button mat-button matStepperPrevious>No</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
