    <header>
      <div class="section__container header__container">
        <div class="header__image">
          <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fheader-1.jpg?alt=media&token=0d5f1246-fe78-413b-abdc-2ec86d7f9922" alt="header" />
          <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fheader-2.jpg?alt=media&token=95ac462c-27fa-4422-b519-65c9f88fc410" alt="header" />
        </div>
        <div class="header__content">
          <div>
            <!-- <p class="sub__header">Book Now</p> -->
            <h1>The Smiling 😊<br />assistant for travel</h1>
            <p class="section__subtitle txt">
              We have created a web application named Car-pool. It helps people to share rides with others within the close proximity by simply putting some details into the application. 
            <div class="action__btns">
              <!-- <button class="btn">Plan a Trip</button> -->
              <div class="story">
                <!-- <div class="video__image">
                  <img src="../../../assets/assets/story.jpg" alt="story" />
                  <span><i class="ri-play-fill"></i></span>
                </div> -->
                <!-- <span>Watch our story</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="section__container destination__container">
      <div class="section__header">
        <div>
          <h2 class="section__title">Benefits Of Carpool</h2>
          <span class="section__subtitle txt">
            This is a pooling transportation service which will not only save time but will also control and reduce traffic.
            <p>The application is completely secured and maintains absolute privacy of the users and is easy to use.</p>
            The application is designed to be suitable with latest technologies and comes with automatic updates.
            <p>This is convenient, easily accessible for people with limited knowledge about technologies and is quite cost effective.</p>
          </span>
        </div>
        <div class="destination__nav">
          <span><i class="ri-arrow-left-s-line"></i></span>
          <span><i class="ri-arrow-right-s-line"></i></span>
        </div>
      </div>
      <div class="destination__grid">
        <div class="destination__card">
          <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fdestination-1.jpg?alt=media&token=f732c7bc-61db-4914-9c81-13374b47ddff" alt="destination" />
          <div class="destination__details">
            <p class="destination__subtitle">Environment friendly</p>
            <!-- <p class="destination__subtitle">Canada</p> -->
          </div>
        </div>
        <div class="destination__card">
          <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fdestination-2.jpg?alt=media&token=8e3ec804-be25-4fa7-b8cf-cc4caafd6e17" alt="destination" />
          <div class="destination__details">
            <p class="destination__subtitle">Economically helpful</p>
            <!-- <p class="destination__subtitle">Peru</p> -->
          </div>
        </div>
        <div class="destination__card">
          <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fdestination-3.jpg?alt=media&token=1f1be839-99ff-4eaa-bcd9-cbedb3d9d166" alt="destination" />
          <div class="destination__details">
            <p class="destination__subtitle">Explore new connection</p>
            <!-- <p class="destination__subtitle">Switzerland</p> -->
          </div>
        </div>
        <div class="destination__card">
          <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fdestination-4.jpg?alt=media&token=e58d1117-0e29-4bd3-9f59-08ba505dc77b" alt="destination" />
          <div class="destination__details">
            <p class="destination__subtitle">Security to be maximized</p>
            <!-- <p class="destination__subtitle">China</p> -->
          </div>
        </div>
      </div>
    </section>

    <section class="trip">
      <div class="section__container trip__container">
        <h2 class="section__title">Our Mission</h2>
        <p class="section__subtitle txt">
            <p class="txt">The mission of a carpool app is to provide a convenient, efficient, and sustainable transportation solution that connects individuals with shared travel needs, promotes carpooling, and reduces traffic congestion, carbon emissions, and transportation costs.</p>
        <!-- </p> -->
        <div class="trip__grid">
          <div class="trip__card">
            <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Ftrip-1.jpg?alt=media&token=480d3f2b-e74e-4831-b391-0c459676427a" alt="trip" />
             <div class="trip__details">
               <p>Less Traffic</p>
              <!-- <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
              <div class="booking__price">
                <div class="price"><span>From</span> $300</div>
                <button class="book__now">Book Now</button>
              </div> -->
            </div>
          </div>
          <div class="trip__card">
            <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Ftrip-2.jpg?alt=media&token=e6527c91-f1c5-49ff-a795-eb40f0c8af66" alt="trip" />
             <div class="trip__details">
              <p>Build Connection</p>
              <!-- <div class="rating"><i class="ri-star-fill"></i> 4.5</div>
              <div class="booking__price">
                <div class="price"><span>From</span> $450</div>
                <button class="book__now">Book Now</button>
              </div> -->
            </div> 
          </div>
          <div class="trip__card">
            <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Ftrip-3.jpg?alt=media&token=7bd4b0a6-d0bf-4d3c-a6a9-222b5656dc0f" alt="trip" />
             <div class="trip__details">
              <p>Easy Service</p>
              <!-- <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
              <div class="booking__price">
                <div class="price"><span>From</span> $400</div>
                <button class="book__now">Book Now</button>
              </div>  -->
            </div> 
          </div>
        </div>
        <!-- <div class="view__all">
          <button class="btn">View All</button>
        </div> -->
      </div>
    </section>

    <section class="gallary">
      <div class="section__container gallary__container">
        <div class="image__gallary">
          <div class="gallary__col">
            <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fgallery-1.jpg?alt=media&token=78bb64f7-8b8c-4aa5-800f-192d19059131" alt="gallary" />
          </div>
          <div class="gallary__col">
            <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fgallery-2.jpg?alt=media&token=1565f7d1-2c39-4e94-806d-5a0ba992a3d3" alt="gallary" />
            <img src="https://firebasestorage.googleapis.com/v0/b/carpool-fb.appspot.com/o/about%2Fgallery-3.jpg?alt=media&token=db7a13dd-2c43-443e-bf2d-c7671300a7b0" alt="gallary" />
          </div>
        </div>
        <div class="gallary__content">
          <div>
            <h2 class="section__title">
              A Tour To Our App
            </h2>
            <p class="section__subtitle txt">
              These are the some screenshots of our app how things look like.
            </p>
            <!-- <button class="btn">View All</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="subscribe">
      <div class="section__container subscribe__container">
        <div class="subscribe__content">
          <h2 class="section__title txt">Send an Email</h2>
          <p class="section__subtitle txt">
            If you have any query please feel free to ask any question.
          </p>
        </div>
        <div class="subscribe__form">
          <form (ngSubmit)="sendEmail()" #emailForm="ngForm" >
            <input type="email" placeholder="Your email here" [(ngModel)]="senderEmail" [ngModelOptions]="{standalone:true}" required email />
            <a href=></a><button class="btn"  type="submit" [disabled]="!emailForm.valid">Send</button>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3>Carpool<span>.</span></h3>
          <p class="txt">
            Explore your suitable and dream places around the world. Here you
            can find your right destination.
          </p>
        </div>
        <div class="footer__col">
          <h4>Support</h4>
          <p>Home</p>
          <p>Value</p>
          <p>Service</p>
          <p>Contact Us</p>
        </div>
        <div class="footer__col">
          <h4>Address</h4>
          <p><span>Email:</span>team5.carpool@gmail.com</p>
        </div>
      </div>
      <div class="footer__bar">
        Made with ❤️.
      </div>
    </footer>
  