/* You can add global styles to this file, and also import other style files */
@import "leaflet.locatecontrol/dist/L.Control.Locate.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaflet-control-zoom {
    display: none;
    content-visibility: hidden !important;
}

.leaflet-control-locate {
    margin-top: 5em !important;
}

.primary-btn {
    background-color: #5ec717;
    color: #fff;
}
